
*{
    margin: 0;
    padding: 0;
}
.rangers{
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
}
.Nav{
    height: 25px;
    line-height: 25px;
    background-color: rgb(219,66,96);
    
}
.Nav ul{
    font-size: 0;
}
.Nav ul li{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    width:20%;
    color:black;
    font-weight: bold;
}
.main{
    height: 650px;
    width: 100%;
    
}
.left{
    float:left;
    width: 20%;
    text-align: left; 
    height: 100%;
    background: url(http://p0.so.qhmsg.com/sdr/400__/t01d880563ad2637c55.jpg)
}
.left span{
    font-size: 26px;
    color: rgb(219,66,96);
}
.photo{
    text-align: center;
    margin: 10px;
}
p{
    color: cornsilk;
}
.right{
    float: left;
    width: 80%;
    height: 650px;
    background: url(http://img4q.duitang.com/uploads/item/201505/03/20150503230438_NwZi4.thumb.700_0.png)
}
.right h2{
    color: cornsilk;
    font-size: 20px;
    font-weight: bold;
    text-align: center
    
}
.pic{
    display: inline-block;
}
.pic img{
   width: 730px;
   margin: 30px;
   margin-top: 0px;
}